/* CSS Document */

.profile img{ 
filter:grayscale(0);
	-webkit-filter: grayscale(0);

}
.profile img:hover{
	filter: grayscale(100%);

-webkit-filter: grayscale(100%);
transition:filter 600ms ease;
-webkit-transition: -webkit-filter 600ms ease;
	}

